@model DroneFlightLog.Mvc.Models.MaintenanceRecordViewModelBase

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Id)

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.DroneId)</strong>
        <div class="input-group">
            @Html.DropDownListFor(m => m.DroneId, new List<SelectListItem>(Model.Drones), new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.DroneId, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.MaintainerId)</strong>
        <div class="input-group">
            @Html.DropDownListFor(m => m.MaintainerId, new List<SelectListItem>(Model.Maintainers), new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.MaintainerId, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.DateWorkCompleted)</strong>
        <div class="input-group">
            @Html.EditorFor(m => m.DateWorkCompleted, new { @class = "form-control" })
            <script type="text/javascript">new GijgoDatePicker(document.getElementById("DateWorkCompleted"), { calendarWeeks: false, uiLibrary: "bootstrap4" });</script>
        </div>
        <span>@Html.ValidationMessageFor(m => m.DateWorkCompleted, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.RecordType)</strong>
        <div class="input-group">
            @Html.DropDownListFor(m => m.RecordType, new List<SelectListItem>(Model.MaintenanceTypes), new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.RecordType, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md">
        <strong>@Html.LabelFor(m => m.Description)</strong>
        <div class="input-group">
            @Html.EditorFor(m => m.Description, new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md">
        <strong>@Html.LabelFor(m => m.Notes)</strong>
        <div class="input-group">
            @Html.TextAreaFor(m => m.Notes, 4, 80, new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Notes, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />
<hr />

<div class="row">
    <div class="col">
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>