@model DroneFlightLog.Mvc.Models.DroneViewModel

@{
    ViewData["Title"] = "Add Drone";
}

    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md">
                    <span style="font-size: 1.2rem"><strong>Add Drone</strong></span>
                </div>
            </div>
            <hr />

            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="row">
                    <div class="col-md">
                        <span>@Html.Raw(Model.Message)</span>
                    </div>
                </div>
                <br />
            }

            <div class="row">
                <div class="col-md">
                    <strong>@Html.LabelFor(m => m.ModelId)</strong>
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.ModelId, new List<SelectListItem>(Model.Models), new { @class = "form-control" })
                    </div>
                    <span>@Html.ValidationMessageFor(m => m.ModelId, "", new { @class = "text-danger" })</span>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md">
                    <strong>@Html.LabelFor(m => m.Name)</strong>
                    <div class="input-group">
                        @Html.EditorFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    <span>@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })</span>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md">
                    <strong>@Html.LabelFor(m => m.SerialNumber)</strong>
                    <div class="input-group">
                        @Html.EditorFor(m => m.SerialNumber, new { @class = "form-control" })
                    </div>
                    <span>@Html.ValidationMessageFor(m => m.SerialNumber, "", new { @class = "text-danger" })</span>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md">
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        }
    </div>
