@model DroneFlightLog.Mvc.Models.FlightViewModelBase

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Id)

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.DroneId)</strong>
        <div class="input-group">
            @Html.DropDownListFor(m => m.DroneId, new List<SelectListItem>(Model.Drones), new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.DroneId, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.LocationId)</strong>
        <div class="input-group">
            @Html.DropDownListFor(m => m.LocationId, new List<SelectListItem>(Model.Locations), new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.LocationId, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.OperatorId)</strong>
        <div class="input-group">
            @Html.DropDownListFor(m => m.OperatorId, new List<SelectListItem>(Model.Operators), new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.OperatorId, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.StartDate)</strong>
        <div class="input-group">
            @Html.EditorFor(m => m.StartDate, new { @class = "form-control" })
            <script type="text/javascript">new GijgoDatePicker(document.getElementById("StartDate"), { calendarWeeks: false, uiLibrary: "bootstrap4" });</script>
        </div>
        <span>@Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.StartTime)</strong>
        <div class="input-group">
            @Html.EditorFor(m => m.StartTime, new { @class = "form-control" })
            <script type="text/javascript">$("#StartTime").timepicker();</script>
        </div>
        <span>@Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.EndDate)</strong>
        <div class="input-group">
            @Html.EditorFor(m => m.EndDate, new { @class = "form-control" })
            <script type="text/javascript">new GijgoDatePicker(document.getElementById("EndDate"), { calendarWeeks: false, uiLibrary: "bootstrap4" });</script>
        </div>
        <span>@Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.EndTime)</strong>
        <div class="input-group">
            @Html.EditorFor(m => m.EndTime, new { @class = "form-control" })
            <script type="text/javascript">$("#EndTime").timepicker();</script>
        </div>
        <span>@Html.ValidationMessageFor(m => m.EndTime, "", new { @class = "text-danger" })</span>
    </div>
</div>
<hr />

<div class="row">
    <div class="col">
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>